<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Parking Check</title>
    <meta name="description" content="">
    <meta id="viewport" name="viewport" content="width=device-width, height=device-height, maximum-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href="http://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Courgette" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="styles/vendor.css"/>

    <link rel="stylesheet" href="styles/main.css"/>
</head>
<body data-ng-app="parkingCheckApp" data-fast-click="" data-device-platform="">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- Add your site or application content here -->
<div class="container" data-ui-view=""></div>
<web-intent></web-intent>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<script src="cordova.js"></script>

<script src="http://maps.google.com/maps/api/js"></script>
<script src="http://www.mapquestapi.com/sdk/js/v7.2.s/mqa.toolkit.js?key=Fmjtd%7Cluurn1uz2u%2Cbl%3Do5-9wyx50"></script>

<script src="scripts/modules.js"></script>

<script src="scripts/scripts.js"></script>


<!-- Begin Templates -->
<script type="text/ng-template" id="/views/app-page.html">
<div class="app-page">
    <header data-ui-view="Header">

    </header>
    <ion-scroll class="content" direction="y" has-bouncing="true">
        <div data-ui-view="Content" class="full"></div>
    </ion-scroll>
    <footer data-ui-view="Footer">

    </footer>
</div>
</script>

<script type="text/ng-template" id="/views/connect.html">
<p>This is the connect view.</p>

</script>

<script type="text/ng-template" id="/views/dashboard.html">
<div class="dashboard" data-ng-class="{'negative': isParked, 'positive': !isParked}">
    <parking-button data-clicker="parkingControl"></parking-button>
    <div class="parking-table" data-ng-if="location">
        <div class="parking-time">
            <div data-ng-if="updateTime">
                parked {{isParked.location.timestamp | parkingTime}}
            </div>
        </div>
        <div class="co-ordinates">
            <div>
                {{location.coords.latitude}}
            </div>
            <div>
                {{location.coords.longitude}}
            </div>
        </div>
        <geo-link data-ng-if="false" data-geo="location.coords" data-suffix="isParked.location.coords">
            Get to my parking
        </geo-link>
        <a class="map-link" data-ng-click="getWalkable()">
            Get walkable
        </a>
        <a data-ng-if="mapReady" class="map-link" data-ng-click="locateInMap()">
            Locate in Map
        </a>

        <div data-ng-repeat="leg in walking.legs">
            <div>
                Approx. {{leg.distance}}
            </div>
            <div>
                In {{leg.formattedTime}}
            </div>
            <ul>
                <li data-ng-repeat="route in leg.maneuvers">
                    {{route.narrative}} in {{route.time}}
                </li>
            </ul>
        </div>
    </div>
</div>
</script>

<script type="text/ng-template" id="/views/directives/parking-button.html">
<div class="parking-button">
    <div class="button" data-ng-click="clicker()">
        <span class="park-here">
            Park Here!
        </span>
        <span class="parked">
            Ended Parking?
        </span>
    </div>
</div>
</script>

<script type="text/ng-template" id="/views/directives/web-intent.html">
<div class="web-intent">
    <div class="intent intent-animation" data-ng-if="message">
        <span class="message">{{message}}</span>
    </div>
</div>
</script>

<script type="text/ng-template" id="/views/footer.html">
<p>This is the footer view.</p>

</script>

<script type="text/ng-template" id="/views/header.html">
<div class="header">
    <div data-ng-if="header" data-ng-class="header.back.align">
        <div>{{header.back.title}}</div>
        <button data-ng-if="header.back" class="back-button" data-ng-click="back()">
            <span><i class="ion-arrow-left-c"></i> {{header.back.label || 'Back'}}</span>
        </button>
    </div>
    <div data-ng-if="!header">
        {{$app.name}}
    </div>
</div>
</script>

<script type="text/ng-template" id="/views/history.html">
<p>This is the history view.</p>

</script>

<script type="text/ng-template" id="/views/locate-user.html">
<div class="locate-user">
    <map center="{{mapConfig.center.latitude}},{{mapConfig.center.longitude}}" zoom="{{mapConfig.zoom}}"
         style="height: 100%">
        <marker data-ng-repeat="marker in mapConfig.markers" position="{{marker.latitude}},{{marker.longitude}}"
                icon="{{marker.icon}}" title="{{marker.title}}"></marker>
    </map>
</div>
</script>

<script type="text/ng-template" id="/views/main.html">
<div class="main">
    <div class="button" data-ng-click="locate()">
        Locate
    </div>
    <div data-ng-if="position">
        {{position}}
    </div>
    <div>
        isAvailable: {{isAvailable}}
    </div>
</div>
</script>

<script type="text/ng-template" id="/views/parking.html">
<p>This is the parking view.</p>

</script>
<!-- End Templates -->

</body>
</html>