<div class="dashboard" data-ng-class="{'negative': isParked, 'positive': !isParked}">
    <parking-button data-clicker="parkingControl"></parking-button>
    <div class="parking-table" data-ng-if="location">
        <div class="parking-time">
            <div data-ng-if="updateTime">
                parked {{isParked.location.timestamp | parkingTime}}
            </div>
        </div>
        <div class="co-ordinates">
            <div>
                {{location.coords.latitude}}
            </div>
            <div>
                {{location.coords.longitude}}
            </div>
        </div>
        <geo-link data-ng-if="false" data-geo="location.coords" data-suffix="isParked.location.coords">
            Get to my parking
        </geo-link>
        <a class="map-link" data-ng-click="getWalkable()">
            Get walkable
        </a>
        <a data-ng-if="mapReady" class="map-link" data-ng-click="locateInMap()">
            Locate in Map
        </a>

        <div data-ng-repeat="leg in walking.legs">
            <div>
                Approx. {{leg.distance}}
            </div>
            <div>
                In {{leg.formattedTime}}
            </div>
            <ul>
                <li data-ng-repeat="route in leg.maneuvers">
                    {{route.narrative}} in {{route.time}}
                </li>
            </ul>
        </div>
    </div>
</div>