<div class="dashboard" data-ng-class="{'negative': isParked, 'positive': !isParked}">
    <parking-button data-clicker="parkingControl"></parking-button>
    <div data-ng-if="parking">
        <div>
            Location: {{parking.location.coords.latitude}}, {{parking.location.coords.longitude}}
        </div>
        <div>
            <a href="geo:{{parking.location.coords.latitude}},{{parking.location.coords.longitude}}">Open in
                maps</a>
        </div>
        <div>
            parked since: {{parking.date | parkingTime}}
        </div>
    </div>
    <div data-ng-if="current">
        <hr/>
        <div>
            Current location: {{current.location.coords.latitude}}, {{current.location.coords.longitude}}
        </div>
        <div>
            Find where you parked:
        </div>
        <a href="{{mapLink}}{{current.location.coords.latitude}},{{current.location.coords.longitude}}">Open in maps</a>
    </div>
</div>