<div class="app-header">
    <div data-ng-if="header" data-ng-class="header.back.align">
        <div class="text">{{header.back.title || $app.name}}</div>
        <button data-ng-if="header.back" class="back-button" data-ng-click="back()">
            <span><i class="ion-chevron-left"></i> {{header.back.label || 'Back'}}</span>
        </button>
    </div>
    <div data-ng-if="!header">
        <div class="text">{{$app.name}}</div>
        <button class="header-icon" data-ng-click="drawerParams.isDrawerOpen || drawerParams.open()">
            <span><i class="ion-navicon-round"></i></span>
        </button>
    </div>
</div>