<div class="parking" data-ng-class="{'negative': isParked, 'positive': !isParked}">
    <parking-button data-clicker="parkingControl"></parking-button>
    <div data-ng-if="isParked">
        <div data-ng-click="openInMaps()" class="link">
            Locate using maps
        </div>

        <div data-ng-click="clickPicture()" class="link">
            Add a pic
        </div>

        <div class="image" data-ng-if="parkingImage">
            <img data-ng-src="parkingImage"/>
        </div>
    </div>
</div>