<div class="parking" data-ng-class="{'negative': isParked, 'positive': !isParked}">
    <parking-button data-clicker="parkingControl"></parking-button>
    <div data-ng-if="isParked">
        <div data-ng-click="openInMaps()" class="link">
            <span><i class="ion-ios-location"></i> Locate using maps</span>
        </div>

        <div data-ng-click="clickPicture()" class="link">
            <i class="ion-ios-camera"></i>
            <span data-ng-if="!parkingImage">Take pic</span>
            <span data-ng-if="parkingImage">Replace pic</span>
        </div>

        <div data-ng-show="!needExtra" data-ng-click="addNotes()" class="link">
            <span><i class="ion-edit"></i> Add additional informations</span>
        </div>

        <div data-ng-show="needExtra" class="additional-information">
            <label>
                <span>Floor/Level</span>
                <input type="text" data-ng-model="extras.level" placeholder="Floor/Level">
            </label>
            <label>
                <span>Slot</span>
                <input type="text" data-ng-model="extras.slot" placeholder="Slot">
            </label>
            <label>
                <span>Any comments</span>
                <textarea data-ng-model="extras.notes" placeholder="comments"></textarea>
            </label>

            <div class="submit control link" data-ng-click="saveExtra()">
                <span>Save</span>
            </div>
            <div class="cancel control link" data-ng-click="cancelExtra()">
                <span>Cancel</span>
            </div>
        </div>

        <div class="image" data-ng-if="parkingImage">
            <img data-ng-src="{{parkingImage}}"/>
        </div>

        <div class="extras" data-ng-show="!needExtra">
            {{extras}}
        </div>

    </div>
</div>