<div class="search-parking">
    <div class="search-container">
        <div class="link" data-ng-click="findNearMe()">
            Parking near me
        </div>
        <div class="or-message">
            (or)
        </div>
        <div>
            <input class="custom-location" ng-autocomplete placeholder="Search for a location" type="text"
                   data-ng-model="customLocation"/>

            <div class="link" data-ng-click="findParking()">
                Find Parking here
            </div>
        </div>
    </div>
    <ul class="parking-results" data-ng-if="parking.parking_listings">
        <li data-ng-repeat="location in parking.parking_listings">
            {{location.location_name}}, {{location.available_spots}} spots available
            <br/>Price: {{location.price_formatted}}
        </li>
    </ul>
    <ul class="parking-results" data-ng-if="parking.results">
        <li data-ng-repeat="location in parking.results">
            <div>
                {{location.name}}
                <div data-ng-if="location.vicinity || location.formatted_address">
                    near {{location.vicinity || location.formatted_address | ignorePartialResult:'country'}} <a href="geo:{{location.geometry.location.lat}},{{location.geometry.location.lng}}?q={{location.name}}">View</a>
                </div>
            </div>
        </li>
    </ul>
    <div class="no-results" data-ng-if="!parking.parking_listings && !parking.results && !searching.started">
        {{failure.reason}}
    </div>
</div>